/*CSS Mobile*/

@media (max-width : 568px) {

    .header {
        background-color: #257965;
        min-width: 100%;
        height: 20%;
        text-align: center;
    }
    .logo {
        width: 100%;
    }
    .site_content {
        width: 100%;
        text-align: center;
    }
    .menubar {
        width: 100%;
        height: 100%;
    }
    .content {
        width: 100%;
        text-align: center;
    }
    .sitebar_container {
        display: none;
    }
    .footer {
        display: none;
    }
    ul.menu {
        float: none;
    }
    ul.menu li {
        margin: 0;
        padding: 0;
        float: none;
    }
    .logo h1 {
        font: normal 235% 'century gothic', arial, sans-serif;
    }
    .logo h2 {
        font: normal 100% 'century gothic', arial, sans-serif;
        color: white;
    }
    .content h1, h2 {
        font: normal 110% 'century gothic', arial;
    }
    .film_block img {
        width: 43%;
    }
    .posts_content p {
        line-height: 1.5em;
        padding: 3%;
        text-align: left;
    }
    .posts p {
        font-size: 120%;
    }

    /* films page*/

    .info_film {
        float: none;
        height: 100%;
    }
    .info_film img {
        width: 90%;
        margin-bottom: 5%;
    }
    .button {
        float: none;
    }

    /* rating page */

    table {
        display: block;
    }
    th {
        font-size: 75%;
    }
    td {
       padding: 0;
       margin: 0; 
       font-size: 95%;
       text-align: left;
    }

    /* show page */

    iframe {
        width: 88%;
        height: 100%;
    }
    .description_film {
        width: 90%;
        text-align: left;
        margin-left: 2%;
    }
    .description_film img {
        float: none;
        width: 73%;
        display: block;
        margin: 0;
        padding: 0;
        margin-left: 11%;
        margin-bottom: 7%;
    }
    .reviews {
       text-align: left;
       width: 96%; 
    }
    .send input[type="text"], .contacts input[type="text"] {
        width: 80%;
    }
    .send textarea, .contacts textarea{
        width: 85%;
    }
}

